# my configuration
.idea/
.vscode/
ideas.md
project.info
**/*.log
**/*.log.*
# graphs, results and other data
graphs
techflow_plot
submission
data
data-tsdp
data-wddff
esvr
esvr-tsdp
esvr-wddff
gbrt
lstm
dnn
arma
arima
graph
results
__pycache__
*.asv
*.fig
[A-Z]_TRAINDEV.csv

ShiquanRunoff1956-2014.xlsx
YangXianRunoff1967-2014.xlsx

boundary_effect/dwt-decompositions-huaxian
boundary_effect/eemd-decompositions-huaxian
boundary_effect/vmd-decompositions-huaxian
boundary_effect/vmd-decompositions-sunspot

# python
.ipynb_checkpoints/
date_tool.py
test.py
**/*_bak.py
**/*_back_up.py
**/*_back.py
test.py
tempCodeRunnerFile.py
CDF_test.py
clean_train_results.py
SSA_tool.py
ssa_toy.py
plot_pacf_for_all.py
plot_


gbrt_orig_history.py
learn_rate_ana.py
lstm_orig_history
pred_ana.py
gbrt_multi_step_one_month.py
gbrt_multi_step.py
gbrt_one_step_one_month.py
gbrt_one_step.py
lstm_multi_step_one_month.py
lstm_multi_step.py
lstm_one_step_one_month.py
lstm_one_step.py
pca_one_step_one_month.py

#R
test.r
tempCodeRunnerFile.r
.RData
.RHistory